body {
  margin: 40px;
}

h1 {
  text-align: center;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: #666666;
  padding-bottom: 50px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.selected {
  grid-column: 1;
  grid-row: 1;
}
.read {
  grid-column: 2;
  grid-row: 1;
}
.ratings {
  grid-column: 3;
  grid-row: 1;
}
